
<b><u><center><h1>@ViewBag.Message</h1></center></u></b>

<center><h4>“Pets Place has a singular vision, and a multitude of ideas.” </h4></center>
<hr>
</hr>


<b><center><h3>Our History</h3></b>
<p>“John M. Petpalace was born at the end of the nineteenth century and spent his summers in Manchester as a youth. 
    He was an adventurous boy who loved to swim in the clear and cold waters there. 
    He graduated from MCU in 1990 and soon after purchased a store in 2005. 
    He fell in love with a woman named Meta and bought her a cat and a dog. 
    They had a child, John, Jr., which extended their family from 3 to 4. 
    The family decided to open a shop dedicated to providing products for animals and therfore providing happiness as a bi-product. 
    When John, Jr., came of age and took over the business, he included the controversial sales of live pets. 
    His Pet Accessory shop, grew in popularity until it became a globally recognized brand, now known as Pets Place”</p>
    </center>
<br />

<b><h3>Meet our staff</h3></b>
<img src="~/Catalog/Images/Thumbs/Profile PIc.jpg" style="height:200px" "width:200px" />
<h4>Meet Harry</h4>
<p>Harry is a Brand and Marketing Strategist who partners with CEOs, 
    executives and solopreneurs to grow their personal and professional brands, 
    human-to-human. After spending nearly a decade working in PR and marketing for 
    multimillion dollar brands and startups, Alex knows what truly drives conversions, 
    sold-out launches and New York Times interviews—and it’s not mastering the marketing flavor of the week.
    It’s how well you connect with the heart-beating people you’re trying to help and communicate your understanding back to them.</p>

<br />
<img src="~/Catalog/Images/Thumbs/Profile PIc.jpg" style="height:200px" "width:200px" />
<h4>Meet Cavel</h4>
<p>
    Cavel is also a Brand and Marketing Strategist who partners with CEOs,
    executives and solopreneurs to grow their personal and professional brands,
    human-to-human. After spending nearly a decade working in PR and marketing for
    multimillion dollar brands and startups, Alex knows what truly drives conversions,
    sold-out launches and New York Times interviews—and it’s not mastering the marketing flavor of the week.
    It’s how well you connect with the heart-beating people you’re trying to help and communicate your understanding back to them.
</p>

<br />
<img src="~/Catalog/Images/Thumbs/Profile PIc.jpg" style="height:200px" "width:200px" />
<h4>Meet Neil</h4>
<p>
    At this point your probably wondering if we only hire Brand and Marketing Strategists, the answer is yes. Neil is also a Brand and Marketing Strategist who partners with CEOs,
    executives and solopreneurs to grow their personal and professional brands,
    human-to-human. After spending nearly a decade working in PR and marketing for
    multimillion dollar brands and startups, Alex knows what truly drives conversions,
    sold-out launches and New York Times interviews—and it’s not mastering the marketing flavor of the week.
    It’s how well you connect with the heart-beating people you’re trying to help and communicate your understanding back to them
</p>

<br />
<img src="~/Catalog/Images/Thumbs/Profile PIc.jpg" style="height:200px" "width:200px" />
<h4>Meet Mohameed</h4>
<p>
    Mohammed is (you guessed it) a Brand and Marketing Strategist who partners with CEOs,
    executives and solopreneurs to grow their personal and professional brands,
    human-to-human. After spending nearly a decade working in PR and marketing for
    multimillion dollar brands and startups, Alex knows what truly drives conversions,
    sold-out launches and New York Times interviews—and it’s not mastering the marketing flavor of the week.
    It’s how well you connect with the heart-beating people you’re trying to help and communicate your understanding back to them
</p>