

<center><h3>@ViewBag.Message</h3></center>
<br>

<p> Please do not hesitate to contact us about anything using either of the methods below; </p><br />


<div id="Map" style="float:right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.619009415522!2d-2.244335084276485!3d53.475268772747825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1ea4de55555%3A0xb9262b0fc1ef0e30!2sThe+Capita+Group!5e0!3m2!1sen!2suk!4v1538393331091" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>




<address>
    <strong>Telephone:</strong> <a href="mailto:0161859865">0161 859 865</a><br />
    <strong>Email:</strong>   <a href="mailto:PetsPlace@gmail.com">PetsPlace@gmail.com</a><br />
    <strong>Letter:</strong> <a href="https://goo.gl/maps/DXawA3C94LQ2">Churchgate House, 56 Oxford St, Manchester M1 6EU</a>

</address>

<p>Or visit us on our socials;</p>
<a href="https://www.facebook.com"><img src="~/Catalog/Images/Thumbs/facebook-128.png"  style="width:50px; height:50px;" /></a><br />
<br />
<a href="https://www.twitter.com"><img src="~/Catalog/Images/Thumbs/twitter_PNG34.png"  style="width:50px; height:50px; "/></a><br />
<br />
<a href="https://instagram.com"><img src="~/Catalog/Images/Thumbs/color.ico"            style="width:50px; height:50px; "/></a>